body 
{

	font-family: Verdana, Arial, Helvetica, sans-serif, '宋体';
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	line-height: 22px;
	background-color: #f1f1f1;
}

#header
{
	margin: 0px auto;
	width: 960px;
	background-color: #FFF;
	margin-top: 20px;
}

.main_menu {
	clear: both;
}

ul.menu {
	margin: 0;
	padding: 0;
	float: right;
	background-color:#29497b;
	color:#f90;
}

ul.menu li 
{
    float: left;
    list-style: none outside none;
}

ul.menu li a {
/*    background: url("images/nav_left_line.gif") no-repeat scroll left top transparent;*/
    display: block;
    height: 26px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    width: 120px;
	text-decoration: none;
	color: #f90;
	font-style: bold;
	font-size: 1.2em;
}

ul.menu a:hover
{
	background-color: #B1C5E0;
}

#main
{
	margin: 0px auto;
	width: 960px;	
	background-color: #FFF;
	overflow: auto;
}

#left_col {
	float: left;
	width: 240px;
	padding-left: 10px;
}

#right_col {
	float: right;
	width: 690px;
}

#left_col ul
{
	list-style: none;	
}


#footer
{
	margin: 0px auto;
	width: 960px;
	margin-top: 10px;
	height: 100px;
	clear: both;
	text-align: center;
}

#footer a
{
	color: #666;
	text-decoration: none;
	
}

#lang_selector {
	float: right;
	padding: 20px 10px 0 0;

}
#logo {
	padding: 10px;
	float: left;
}

.browse-auctions {
    margin: 2em 0;
	background-color: red;
}

.browse-auctions li {
    width: 30%;
    float: left;
    text-align: center;
    line-height: 200%!important;
    height: auto!important;
    margin-bottom: 2em;
	margin-right: 1em;
	list-style-type: none;
}

.browse-auctions img {
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 6px;
    margin-bottom: .5em;
}

.browse-auctions a
{
	text-decoration: none;
}

.category_title {
	background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    margin: 20px 15px 15px;
    padding: 20px 20px 5px;
	text-align: center;
    
}

#category
{

}

#category ul
{
	padding-left: 10px;
}

#category ul li
{
	display: block;
	border-bottom: solid 1px #EEE;
	
}

#category a
{
	text-decoration: none;
	display: block;
	width: 160px;
	height: 20px;
	padding: 5px;
	padding-top: 2px;
	font-weight: bold;
}

#category a:link
{
	color: blue;
}

#category a:active 
{ 
	color: yellow;
}
#category a:hover 
{ 
	color: #FFF;
	background-color: #B1C5E0;
}

#category a:visited 
{ 
	color: #666;
}

h1
{
	font-size: 1.5em;
}

.content
{
	color: #888;	
}

#home_left
{
	float: left;
	width: 250px;

}

#home_right
{
	float: right;	
	width: 250px;

}

#home_center
{
	padding: 0px 250px 0px 250px;

}

.news
{
	width: 100%;
}

.news td
{
	vertical-align: middle;
	padding-top: 5px;
}

.news .news_date
{
	width: 80px;
}

#bg_title 
{
	height: 30px; 
	background-image: url('/images/bg_title.png'); 
	background-repeat: repeat-x; 
	color: #004C99;
	padding: 2px 0px 0px 5px; 
	font-weight: bold;	
}

dl.about_info{
	float: left;
	margin: 10px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.about_info dt.title{
	font-weight: bold;
	float:left;
	display: block;
}
.about_info dd{
	text-align: left;
	margin-left: 100px;
	font-style: normal;
	display: block;
	padding-bottom: 5px;
}