body 
{
	font-family: Arial, Helvetica, sans-serif, '宋体';
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	line-height: 22px;
	background-color: #FFE;
}

#header
{
	margin: 0px auto;
	width: 960px;
}

ul.menu {
	margin: 0;
	padding: 0;
	float: right;
}

ul.menu li 
{
    float: left;
    list-style: none outside none;
}

ul.menu li a {
    /*background: url("images/nav_left_line.gif") no-repeat scroll left top transparent;*/
    display: block;
    height: 26px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    width: 120px;
	text-decoration: none;
	color: #000;
}

ul.menu li a:hover
{
	color: blue;
}

#main
{
	margin: 0px auto;
	width: 960px;	
	height: 400px;
	clear: both;
}

#left_col {
	float: left;
	width: 300px;
}

#right_col {
	float: right;
	width: 600px;
}


#footer
{
	margin: 0px auto;
	width: 960px;
	margin-top: 10px;
	height: 100px;
	clear: both;
}

#footer a
{
	color: #666;
	text-decoration: none;
	
}

#lang_seletor {
	float: right;
	padding: 50px 10px 0 0;

}
#logo {
	padding: 10px;
	float: left;
}

