
<div id="about">

    <p>西子奥的斯电梯有限公司——世界第一电梯品牌奥的斯在中国最大的控股子公司，是中国绿色电梯第一品牌和中国最大的电扶梯制造商及服务商之一。</p>
　　<p>西子奥的斯成立于1997年3月12日，由世界第一电梯品牌奥的斯电梯公司与中国电梯业最大内资企业西子电梯集团合资组建而成。发展至今，已经成为奥的斯全球新梯销售订单和产量最大的子公司，奥的斯24个全球研发中心之一，拥有22亿资产和3000余名员工。作为中国节能电梯领域的引领者和实践者，西子奥的斯以持续改进打造 360° 绿色价值链，为客户创造最大化价值。到 2010 年，西子奥的斯已经连续十年蝉联中国电梯市场前三甲；连续六年保持中国节能电梯市场第一位；2010 年有近 35000 台电梯及自动扶梯销售订单，产品覆盖全球 60 多个国家</p>

</div>
