
<% unless @category == nil %>
	<h2 class="category_title">All <%= @category.name %></h2>
	<ul class="browse-auctions">
	<% @products.each do |product| %>
		<li>
		<%= image_tag product.img_path, :size => "200x200" %> <br />
		<% if I18n.locale.to_s() == "cn" %>
			<%= product.name_cn %> <br />
		<% else %>
			<%= product.name %> <br />
		<% end %>
	  </li>
	<% end %>
	</ul>

	<br />
<% end %>
